@font-face {
    font-family: 'Inknut-Bold';
    src: url('../fonts/InknutAntiqua-Bold.ttf') format('truetype');
}

body {
    background: url("../images/bg_1715249891898.jpeg") no-repeat center center fixed ;
    background-size: cover;
    margin: 0; /* Menghapus margin default dari body */
    height: 100vh; /* Mengatur tinggi body menjadi 100% dari viewport height */
}
.cover {
    height: 100%; /* Mengatur tinggi cover menjadi 100% dari tinggi body */
    background-color: rgba(0, 0, 0, 0.251);
    position: absolute; /* Mengubah posisi menjadi absolute */
    width: 100%; /* Menyesuaikan lebar dengan parent */
    top: 0; /* Mengatur posisi top ke 0 agar sesuai dengan body */
}
.size-img {
    max-width: 20%;
    height: auto;
}

.img {
    margin-top: 30px;
    display: flex;
    position: relative; /* Menambahkan posisi relatif */
}
.container {
    max-width: 650px;
    margin-top: 60px;
    margin-left: 13%;
    display: grid; /* Mengatur container sebagai grid */
    grid-template-columns: 10fr; /* Satu kolom */
    gap: 10px; /* Spasi antara kolom dan baris */

}

.column {
    display: grid; /* Kolom memiliki display grid */
    grid-template-rows: repeat(3, auto); /* Tiga baris dengan tinggi otomatis */
    padding: 10px; /* Padding untuk konten kolom */

}

.row {
    padding: 5px; /* Padding untuk konten baris */
}

.font{
    color: white;
    font-size: 1.9rem;
    font-family: 'Inknut-Bold',;
    line-height: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


input{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    background-color: #f9f9f9;
    outline: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {

    margin-top: 10px;
    height: 40px;
    width: 260px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(236, 239, 248, 1);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
button:hover{
    color: white;
    background-color: rgb(93, 99, 195);
}
